.card{
  width: 300px;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.container{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}